@import "tailwindcss";

@theme {
  --color-primary: #006894;
  --color-secondary: #4585a1;
  --color-sand: #f5f5f0;
  --color-background-light: #ffffff;
  --color-background-dark: #0f1d23;
  --color-text-main: #0c181d;
  
  --font-display: "Plus Jakarta Sans", "Noto Sans KR", sans-serif;
  --font-body: "Noto Sans KR", sans-serif;
  
  --radius-DEFAULT: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #006894;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #004d6e;
}
